<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile</title>
    <link rel="stylesheet" href="../stylesheets/feed.css">
  </head>
  <body>
    <nav>
      <div class="logo">
        <h5>LOGO</h5>
      </div>
      <ul class="navLink">
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
        <li><a href="#">Projects</a></li>
      </ul>
      <div class="lines">
        <div class="l1"></div>
        <div class="l2"></div>
        <div class="l3"></div>
      </div>
    </nav>

    <header>
      <h1>Pinterest Style Image Galley with Responsive Navigation Bar</h1>
    </header>

    <div class="container">
      <div class="box">
        <a
          href="ttps://oriontralelblog.com/wp-content/uploads/2019/08/IMG_6310.jpg"
        >
          <img
            src="https://oriontravelblog.com/wp-content/uploads/2019/08/IMG_6310.jpg"
            alt="image"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>

      <div class="box">
        <a
          href="https://orionstardesign.com/wp-content/uploads/2021/08/newStopCropped1.jpg"
        >
          <img
            src="http://orionstardesign.com/wp-content/uploads/2021/08/newStopCropped1.jpg"
            alt="image"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>
    </div>
  </body>
</html>
