<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profile |</title>
    <!-- Bootstrap Css -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../stylesheets/profile.css" />
  </head>
  <body>
    <div id="profileBanner">
      <img
        id="avatar"
        src="https://images.unsplash.com/photo-1483909796554-bb0051ab60ad?q=80&w=1000&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8Z2lybCUyMHByb2ZpbGV8ZW58MHx8MHx8fDA%3D"
        alt="avatar"
      />
      <div id="info">
        <p id="name"><%= fullName %></p>
        <p id="email">@<%= username %></p>
        <p id="activity"><%= discription %></p>
        <div id="stats">
          <p class="stats-text">
            <svg viewBox="0 0 24 24">
              <path
                fill="#cf0d0dfd"
                d="M12 21.35l-1.45-1.32C6.24 15.36 2 12.28 2 8.5 2 5.42 4.42 3 7.5 3c1.74 0 3.41.81 4.5 2.09C15.09 3.81 16.76 3 18.5 3 21.58 3 24 5.42 24 8.5c0 3.78-4.24 6.86-8.55 11.54L12 21.35z"
              />
            </svg>
            <span>9</span>
            likes
          </p>
          <p class="stats-text">
            <svg viewBox="0 0 24 24">
              <path d="M12 9a3.75 3.75 0 100 7.5A3.75 3.75 0 0012 9z" />
              <path
                fill-rule="evenodd"
                d="M9.344 3.071a49.52 49.52 0 015.312 0c.967.052 1.83.585 2.332 1.39l.821 1.317c.24.383.645.643 1.11.71.386.054.77.113 1.152.177 1.432.239 2.429 1.493 2.429 2.909V18a3 3 0 01-3 3h-15a3 3 0 01-3-3V9.574c0-1.416.997-2.67 2.429-2.909.382-.064.766-.123 1.151-.178a1.56 1.56 0 001.11-.71l.822-1.315a2.942 2.942 0 012.332-1.39zM6.75 12.75a5.25 5.25 0 1110.5 0 5.25 5.25 0 01-10.5 0zm12-1.5a.75.75 0 100-1.5.75.75 0 000 1.5z"
                clip-rule="evenodd"
              />
            </svg>
            <span>14</span>
            posts
          </p>
        </div>
        <div
          class="d-flex gap-1 gap-sm-3 align-items-center justify-content-between justify-content-md-start"
        >
          <button
            popovertarget="AddPostForm"
            popovertargetaction="toggle"
            id="addPost"
          >
            <i class="fa fa-plus"></i> Add Post
          </button>
          <a href="/editProfile" id="btn_blue"><span>Edit</span> Profile</a>
          <a id="btn" class="text-center text-decoration-none" href="/logout"
            >Logout</a
          >
        </div>
      </div>
    </div>

    <form
      popover
      id="AddPostForm"
      action="/upload"
      method="post"
      enctype="multipart/form-data"
    >
      <div id="popoverContainer">
        <link
          href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9"
          crossorigin="anonymous"
        />
        <div class="container-fluid">
          <div
            class="row d-flex justify-content-center align-items-center card_container"
          >
            <!-- md->medium,sm->small,lg->large,cl-1=8.33%width,col-12=100%  -->
            <div>
              <div class="card border-0 bg-transparent p-2">
                <h1 class="text-center">Let's Add Post</h1>
                <div class="form-group mt-3">
                  <label for="title" class="text-black">Post title</label>
                  <input
                    type="text"
                    id="title"
                    name="postText"
                    placeholder="Some Caption"
                    class="form-control"
                    required
                  />
                </div>
                <div class="form-group mt-3">
                  <label for="file" class="text-black">Select file</label>
                  <input
                    id="file"
                    class="form-control"
                    type="file"
                    name="file"
                  />
                </div>
                <div
                  class="d-flex justify-content-center align-items-center mt-3"
                >
                  <button type="submit" class="btn btn-primary text-white">
                    Add Post
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>

    <div class="container my-3">
      <div class="card" style="width: 18rem">
        <img
          src="https://images.unsplash.com/photo-1703028408757-a95781e09832?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxlZGl0b3JpYWwtZmVlZHwxOHx8fGVufDB8fHx8fA%3D%3D"
          class="card-img-top"
          alt="..."
        />
        <div class="card-body">Some Text</div>
      </div>
    </div>
    <!-- Bootstrap Js -->
    <script
      src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
      integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js"
      integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
