:root {
    --blk-color: #060606;
    --wht-color: whitesmoke;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html,
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: var(--blk-color);
    color: var(--wht-color);
    overflow-y: hidden;
}


/* Header Styles  */

header {
    font-size: 0.9rem;
    height: 12vh;
    padding: 12px 14px;
}

/* Logo Image */
#logo_image {
    height: 2.5rem;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

li {
    margin: 0 5px;
}

li>i {
    font-size: 0.65rem;
}

/*  Basic Button Style  */
button {
    font-size: 0.8rem;
    cursor: pointer;
    padding: 1rem 0.8rem;
    font-weight: 500;
    border: 1px solid var(--wht-color);
    text-transform: uppercase;
    transition: all 450ms;
    -webkit-transition: all 450ms;
    -moz-transition: all 450ms;
    -ms-transition: all 450ms;
    -o-transition: all 450ms;

    &:hover {
        box-shadow: 3px 2px 2px 0 var(--wht-color);
    }
}

#login_btn {
    background-color: var(--blk-color);
    color: var(--wht-color);
}

#register_btn {
    background-color: var(--wht-color);
    color: var(--blk-color);

    &:hover {
        background-color: var(--blk-color);
        color: var(--wht-color);
    }
}


/* Main Section */

main {
    position: relative;
    height: 80vh;
    max-width: 1130px;
    z-index: 2;

    #content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 100%;
        width: 100%;
        color: var(--wht-color);
        font-size: 2.9rem;
        text-transform: uppercase;
        text-shadow: 0 0 10px var(--blk-color);

        #inner_content {
            margin: 0 5px;
            padding: 10px 15px;
            font-size: 2rem;
            background: rgb(203, 77, 55);
            text-shadow: 0 0 0 var(--blk-color);
            box-shadow: 0 0 2px 0 var(--blk-color);
            border-radius: 25px;
        }
    }

    #content>h2 {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #announcement_section {
        margin-top: 35px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        font-size: 0.9rem;

        #play_btn {
            padding: 6px 10px;

            &:hover {
                scale: 1.15;
                box-shadow: 0 0 0 0 var(--blk-color);
            }
        }

    }

    /* Images IN Background */

    #background_images {
        top: 0;
        z-index: -5;


        .bg_imgs {
            opacity: 0.85;
            position: absolute;
            z-index: -5;
            border-radius: 4px;
            box-shadow: 0 0 5px 2px rgb(35, 31, 31);
            -webkit-border-radius: 4px;
            -moz-border-radius: 4px;
            -ms-border-radius: 4px;
            -o-border-radius: 4px;
        }

        #back_img_1 {
            height: 210px;
            top: 14dvh;
            left: 6dvw;
        }

        #back_img_2 {
            width: 160px;
            top: 10dvh;
            right: 8dvw;
        }

        #back_img_3 {
            z-index: -20;
            width: 200px;
            bottom: 5dvh;
            right: 18dvw;
        }
    }

}

footer {
    /* position: relative; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 8vh;
    max-width: 1130px;

    #icons_container {
        position: absolute;
        bottom: 8px;
        left: 8px;
        display: flex;
        gap: 0.4rem;
    }

    #icons_container>div>i {
        cursor: pointer;
    }

    #scroll_div {
        cursor: pointer;
        text-align: center;
        z-index: 100;
    }
}

@media (max-width: 650px) {

    html {
        font-size: 72.5%;
    }

    nav {
        justify-content: space-between;
    }

    nav ul {
        display: none;
    }
}

@media (max-width: 380px) {
    html {
        font-size: 55%;
    }
}